.profile_body {
  background-color: #EEEEEE;
}
.scroll-box {
  width: 100%;
  overflow-y: hidden;
}
.scroll-box:hover {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scroll-box::-webkit-scrollbar {
  width: .4em;
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.member_list_wrapper {
  background-color: #FFFFFF;
}
.search_background {
  background-color: #9C27B0;
}
.site-content-toolbar {
  background: #FFFFFF !important;
  color: #9C27B0 !important;
  z-index: 3;
}
.menu_icon {
  fill: #646464;
}
.form_icon {
  fill: #9C27B0;
  margin-top: 5px;
}
.profile_icon {
  fill: #A9AFBB;
  padding-right: 10px;
  padding-top: 1px;
}
.fab_icon {
  fill: #FFFFFF;
  padding-top: 5px;
}
.facebook_icon {
  fill: #3C5A99;
  padding-top: 5px;
}
.twitter_icon {
  fill: #00BFF6;
  padding-top: 5px;
}
.linkedin_icon {
  fill: #0083BE;
  padding-top: 5px;
}
.close_icon {
  fill: #FFFFFF;
  outline: none;
}
md-icon {
  fill: #9C27B0;
  min-width: 20px;
  min-height: 20px;
  height: 20px;
  width: 20px;
}
.close_button {
  line-height: 0px;
}
.profile {
  padding: 15px;
}
.profile_not_selected {
  fill: #FFFFFF;
  outline: none;
}
.profile_selected {
  fill: #69F0AE;
  outline: none;
}
.selectedItem {
  background-color: #DDDDDD;
}
.company_logo {
  padding: 8px 16px 16px 16px;
}
.input_label {
  font-size: 12px;
  color: #AAAAAA;
  font-weight: 400;
}
.appointment_form_wrapper {
  margin-top: 30px;
}
.appointment_form {
  margin-top: -10px;
}
form > div > md-input-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hearder_overlay {
  height: 60px;
  margin-top: -45px;
  background-color: #9C27B0;
  color: #FAFAFA;
  border-radius: 4px;
  padding-top: 10px;
}
.header_container {
  background-color: #FAFAFA !important;
}
.profile_card_avartar {
  border-radius: 50%;
  margin-top: -40px;
  margin-right: -6px;
  border: 4px solid #FAFAFA;
}
.profile_divider {
  margin-bottom: 10px;
}
.fab_button {
  background-color: #9C27B0 !important;
  padding-top: 9px;
}
.md-button.md-fab.md-mini {
  padding-top: 5px;
}
.experience {
  text-align: justify;
}
